@model WebApplication2.Models.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>User Form</h2>

<div class="form-group">
    @using(Html.BeginForm("Save", "User"))
    {
        <div class="form-group">
            <label>Name:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label>Email:</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label>Gender:</label>
            @Html.DropDownListFor(m => m.Gender,
                     new SelectList(Enum.GetValues(typeof(Gender))),
                     "Select Gender")
            @Html.ValidationMessageFor(m => m.Gender)
        </div>

        <div class="form-group">
            <label>Birth Date:</label>
            <input type="date" name="BirthDate" class="form-control" />
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>

        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">   Save   </button>
    }
</div>
